body{
    background-color: black;
}

p{
    color: white;
}

#disorder{
    border-radius: 100px;
}

#white{
    color: white;
}

#homepage{
 position: relative;
 top: 100px;
 height: 300px;
}

#typeofdisorder{
 border-radius: 10px;
 text-align: center;
}

.selectbar{
    float: left;
    position: relative;
    
}

h1
{
  font-family: 'Berkshire Swash', cursive;  
}


#content{
    width:100%;
    position: relative;
    overflow-y: auto;
    color: white;
    top: 100px;
    height: 50%;
    text-align:center;
}

.click {
    cursor: pointer;
}