p{
    color: white;
    background-color: black;
    border-radius: 10px;
    width:500px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

#happy{
    height:300px;
    top:100px;
}

p:hover {
    background-color: white; 
    color: black;
}

#disorder{
    border-radius: 100px;
}

#white{
    color: white;
}

#homepage{
 position: relative;
 top: 100px;
 height: 300px;
}

#typeofdisorder{
 border-radius: 10px;
 text-align: center;
}

.selectbar{
    float: left;
    position: relative;
    
}

h1
{
  font-family: 'Berkshire Swash', cursive;  
}


#content{
    width:100%;
    position: relative;
    overflow-y: auto;
    color: white;
    top: 100px;
    height: 50%;
    text-align:center;
}

.click {
    cursor: pointer;
}

#selecter{
    position: absolute;
    left:48%;
    margin-left: 0px;
}

#round{
    border-radius: 100px;
}

body{
    background-image: url(https://www.dafont.com/img/illustration/s/o/something.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#name{
    height: 100px;
    background-color: #116bf4;
    border-radius: 10px;
}
